.card {
  width: 500px;
  border-radius: 5px;
  box-shadow: 10px 15px 17px -3px rgba(0,0,0,0.75);
  overflow: hidden;
  background-color: white;
}

.cardHeader {
  background-color: dodgerblue;
  height: 25px;
  color: white;
  display: flex;
  align-items: center;
  padding: 5px;
}

.cardWrapper {
  display: flex;
  padding: 10px
}

.cardImageWrapper{
  height: 200px;
  width: 200px;
}

.cardImage {
  border-radius: 5px;
}